:root {
  --background-color: #1e1e1e;
  --font-color: #d3d3d3;
  --font-color-h1: #dddddd;
  --font-color-h2: #dddddd;
  --font-color-h3: #cccccc;
  --font-color-h6: #999999;
  --code-color: #fff;

  --profile-font-color-h2: #555555;

  --post-list-link: #cccccc;
  --post-meta: #bbbbbb;
  --post-meta-div-span: #555555;
  --post-meta-div-span-dark: #e1dfda;

  --nav-cta-background-color: #a4520f;
  --nav-cta-color: #000000;

  --primary-color: #b83556;
  --primary-color-invert: #47caa9;
  --accent-color: #f98c0a;
  --bold-color: #e1dfda;
  --headline-color: #b6b1a7;

  --horizontal-rule-color: #111111;
  --table-border-top: #151515;
  --table-nth-child: #030303;
  --thead-color: #bbbbbb;
  --thead-border-bottom: #252523;

  --img-border: #252523;
  --img-hover-box-shadow: #818188;
}
