:root {
  --background-color: #ffffff;
  --font-color: #2c2c2c;
  --font-color-h1: #222222;
  --font-color-h2: #333333;
  --font-color-h3: #333333;
  --font-color-h6: #666666;
  --code-color: #000;

  --profile-font-color-h2: #aaaaaa;

  --post-list-link: #333333;
  --post-meta: #444444;
  --post-meta-div-span: #aaaaaa;
  --post-meta-div-span-dark: #1e2025;

  --nav-cta-background-color: #5badf0;
  --nav-cta-color: #ffffff;

  --primary-color: #b83556;
  --primary-color-invert: #47caa9;
  --accent-color: #f98c0a;
  --bold-color: #1e2025;
  --headline-color: #494e58;

  --horizontal-rule-color: #eeeeee;
  --table-border-top: #eaeaea;
  --table-nth-child: #fcfcfc;
  --thead-color: #444444;
  --thead-border-bottom: #dadadc;

  --img-border: #d3d3d3;
  --img-hover-box-shadow: #7e7e7e77;
}
