/* Reset */
:root {
  color-scheme: light dark;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    display: none;
}


/* Icons */

@font-face {
    font-family: 'icons';
    font-display: auto;
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-facebook:before {
    content: '\e802';
}

.icon-facebook-squared:before {
    content: '\e800';
}

.icon-twitter:before {
    content: '\e801';
}

.icon-twitter-1:before {
    content: '\e804';
}

.icon-facebook-circled:before {
    content: '\e805';
}

.icon-twitter-circled:before {
    content: '\e806';
}

.icon-facebook-rect:before {
    content: '\e803';
}


/* Spacing */

.post h1, h3, h4, h5, p, .post-body ul, #post-list li, pre {
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Base */

html, body {
    height: 100%;
}

body {
    font: 16px/1 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: var(--font-color-h1);
  font-weight: bold;
}

h2 {
    font: italic 19px/1.3em Georgia, serif;
    color: var(--font-color-h2);
}

.profile #wrapper {
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.profile #header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}

.profile .picture {
  padding: 100px;
}

.profile #hexagon {
  padding: 0px;
  margin: 10px;
  display: inline-block;
  width: 120px;
  height: 120px;
  max-height: 100%;
  -webkit-clip-path: polygon(50% 0%, 94% 25%, 94% 75%, 50% 100%, 6% 75%, 6% 25%);
  clip-path: polygon(50% 0%, 94% 25%, 94% 75%, 50% 100%, 6% 75%, 6% 25%);
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.profile #hexagon:hover {
  -webkit-clip-path: polygon(94% 25%, 94% 75%, 50% 100%, 6% 75%, 6% 25%, 50% 0%);
  clip-path: polygon(94% 25%, 94% 75%, 50% 100%, 6% 75%, 6% 25%, 50% 0%);
}

.hexagon a {
  cursor: -webkit-zoom-in;
}

.profile h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 20px;
    color: var(--font-color-h1);;
}

.profile h2 {
    font-size: 20px;
    font-weight: 300;
    color: var(--profile-font-color-h2);
    margin-top: 10px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-style: normal;
}

nav.main-nav {
    padding: 1em 1em 1em;
    background: var(--nav-background-color);
    width: 600px;
    margin: 0 auto;
    text-align: left;
    z-index: 100;
}

nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
}

nav.main-nav .cta {
    background: var(--nav-cta-background-color);
    color: var(--nav-cta-color);
    margin-left: 12px;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px;
}

#wrapper.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
}

.home #avatar {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* Typography */


/*Accent color*/

a, #title, #post-list a:hover, #post-list li:hover, #title:hover {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
}

p a {
    color: var(--primary-color);
}

.main-nav a:hover {
    background-color: var(--accent-color);
    color: #ffffff;
    text-decoration: none;
}

/*Transitions*/
a, #post-nav a, #post-list a {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    color: #b83556;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: circle;
    list-style-position: inside;
}


/* Line Height */
#post-body, p {
    line-height: 1.7;
}

b, strong {
    font-weight: bold;
    color: var(--bold-color);
}

em, i {
    font-style: italic;
}

#title {
    display: inline-block;
    line-height: 100%;
    font-weight: 500;
    font-size: 19px;
    margin: 0;
    padding-bottom: 20px;
}

.home h1 {
    font-size: 30px;
    letter-spacing: -1px;
    color: var(--font-color-h1);
    font-weight: bold;
}

.home h2 {
    font: italic 19px/1.3em Georgia, serif;
    color: var(--font-color-h2);
}

.post header {
    text-align: center;
}

.post h1 {
    margin-bottom: 20px;
    color: var(--font-color-h1);
    font: 300 32px/1.4em "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.post h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 300 24px/1.5 "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: var(--font-color-h2);
}

.post h2.headline {
    font: normal 13px/1.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: -5px 0 40px 0;
    color: var(--headline-color);
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
}

.post h2.headline .tags {
    font: normal 13px/1.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: -5px 0 40px 0;
    color: var(--headline-color);
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 5px;
    display: block;
}

h3, h4, h5 {
    color: var(--font-color-h3);
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 15px;
    font-weight: bold;
}

h6 {
    font-size: 13px;
    font-weight: bold;
    color: var(--font-color-h6);
    margin-bottom: 6px;
}

p.small {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    text-align: center;
    margin-top: 20px;
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid #eee;
}

hr {
    display: block;
    border: none;
    height: 1px;
    margin: 40px auto;
    background: var(--horizontal-rule-color);
}

pre {
    overflow-x: scroll;
}

table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 1.5em;
}

th, td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

table td, td {
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;
}

tr>td {
    border-top: 1px solid var(--table-border-top);
}

tr:nth-child(odd)>td {
    background: var(--table-nth-child);
}

thead th, th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: var(--thead-color);
    border-bottom: 1px solid var(--thead-border-bottom);
    cursor: default;
    white-space: nowrap;
}

img {
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--img-border);
    padding: 2px;
    transition: all ease 1s
}

img:hover {
    -webkit-transform:scale(1.01); /* Safari and Chrome */
    -moz-transform:scale(1.01); /* Firefox */
    -ms-transform:scale(1.01); /* IE 9 */
    -o-transform:scale(1.01); /* Opera */
     transform:scale(1.01);
     transition: all ease 0.5s;
     box-shadow: 2px 2px 8px 4px var(--img-box-shadow);
}

/*=========================================
Post List
=========================================== */

#post-list, #archive-list {
    /*margin-top: 100px;*/
}

#post-list li, #archive-list li {
    list-style-type: none;
}

#post-list li:last-child {
    margin-bottom: 0;
}

#post-list a {
    color: var(--post-list-link);
    display: table;
    font: bold 19px/1.7 "Source Sans Pro", helvetica, Arial, sans-serif;
}

#post-list .dates {
    float: left;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 "Source Sans Pro", helvetica, Arial, sans-serif;
    color: var(--post-meta);
    width: 80px;
}

#post-list .title {
    display: table;
}

#footer {
    padding: 40px 0 0 0;
    margin-top: 100px;
}


/* Post Page */
.post {
    margin: 80px 0 0 0;
}

#post-meta {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    color: var(--post-meta);
    border-bottom: 1px solid #eee;
}

#post-meta div span {
    color: var(--post-meta-div-span);
    font-weight: 500;
    display: block;
}

#post-meta div span.dark {
    color: var(--post-meta-div-span-dark);
}

#post-meta div {
    margin: 0 25px 0 0;
    float: left;
}

#sharing {
    float: right;
    margin: -2px;
}

#sharing a {
    font-size: 20px;
    font-size: 23px;
    margin-left: 1px;
    margin-top: 4px;
    color: #d4d4d4;
    display: inline-block;
    vertical-align: middle;
}

#sharing a:hover {
    opacity: 0.8;
}

#disqus_thread, #ds-thread {
    margin-top: 100px;
}

#sharing a.facebook {
    background: #4361b3;
}

#sharing a.twitter {
    background: #4fafed;
}

#sharing a {
    font-size: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    margin-left: 2px;
}

/* Media Queries */

@media screen and (max-width: 540px) {
    #wrapper {
        padding: 20px 20px 20px 20px;
    }
    #header {
        margin-bottom: 60px;
        /*border-bottom: 1px solid #eee; */
    }
    .post {
        margin: 40px 0;
    }
    #footer {
        margin-top: 60px;
    }
    #post-list, #archive-list {
        margin-top: 0;
    }
    #post-meta {
        margin-top: 60px;
    }
    #title {
        font-size: 17px;
    }
    #post-list .dates {
        display: none;
    }
    #post-list-footer {
        margin-top: 20px;
        padding-top: 40px;
    }
    h1 {
        font-size: 26px;
    }
    .post h2.headline {
        font-size: 13px;
    }
    .post h1 {
        font-size: 24px;
    }
    .post h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .archive .post-time {
        margin: 5px 0;
        width: auto;
        font-size: 13px;
        display: block;
    }
}

.fa.fa-heart:hover {
    color: #ff3356;
    transition: 0.7s ease-out;
    cursor: pointer;
}


/* CUSTOM ADDITIONS */
#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.symbol {
    font-size: 2rem;
    text-decoration: none;
    margin-right: 0.3rem;
}

pre > code {
    font-family: "Source Code Pro", Menlo, Monaco, monospace;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    display: inline;
}

pre > code .hljs {
    display: inline;
}

/**
 * tags page
 */

#wrapper.tags {
  padding: 0px 40px 20px 40px;
}
.page-tags {
    text-align: center;
}

.page-tags .tags {
    font: "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 10px 15px;
    letter-spacing: 1px;
    display: inline-block;
}

.page-tags .tags a {
    color: #666;
}

.page-tags .tags:hover a {
    color: #5694f1;
}
